doctype html
html
  head
    include ./views/includes/head.jade
  body
    .container.song-container
      form.form-search(action="/")
        h2.form-search-heading Spotify Preview
        input(type="search" id="inputSong" class="form-control" placeholder="Escribe una canción o artista" required autofocus)  
      h4.text-center.text-danger.hidden.animated#error No se encontraron canciones
      #songs_container
        
    include ./views/layouts/songs.jade
    include ./views/includes/scripts.jade
