script(id="songs-template" type="text/x-handlebars-template").
  {{#each tracks.items}}
    <div class="row song hidden">
      <img src="{{this.album.images.0.url}}" class="song_image animated col-sm-3 col-xs-3">
      <div class="col-sm-6 col-xs-6 song_item">
        <h4 class="song_item-title animated">{{this.name}}</h4> 
        <p class="song_item-text animated">{{this.artists.0.name}}</p> 
        <audio controls class="song_audio animated">
          <source src="{{this.preview_url}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div> 
  {{/each}}
